/*banner*/
.swiper-container img{
	max-width: 100%;
}
/*搜索*/
.search{
	width: 90%;
	padding: .5rem 5%;
}
.searchform{
	width: 100%;
	border: 1px solid #FFC000;
	box-sizing: border-box;
	display: flex;
}
.searchform input{
	padding-top: .5rem;
    padding-bottom: .5rem;
	font-size: 2rem;
}
.inputAdd{
	flex: 1;
	background: #FFFBF0;
	padding-left: 1rem;
	color: #808080;
}
.inputBtn{
	padding: 0 1rem;
	background: #FFC000;
	color: #FFFFFF;
}
/*热门项目*/

.demo-more{
	display: flex;
	align-items: center;
}
.demo-name img{
	width: 8.2%;
	margin-right: 1.2rem;
}
.demo-name span{
	font-size: 2.5rem;
}
.demo-more span{
	font-size: 2rem;
	margin:0 .2rem;
	color: #515151;
	line-height: 15px;
}
.demo-more span:nth-child(2){
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    background: #FFCC00;
    font-size: 20px;
    color: #ffffff;
    border-radius: 20px;
	/*display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	text-align: center;
	background: #FFCC00;
	font-size: 3rem;
	line-height: 2rem;
    color: #ffffff;
    border-radius: 20px;*/
}
.demo-project ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.demo-project ul li{
	padding: 2%;
    flex: 0 0 50%;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    box-sizing: border-box;
    margin-left: -1px;
}
.demo-project ul li>img{
	width: 100%;
}
.baoming{
	display: flex;
	padding: 1% 0 1% 0;
	align-items: center;
}
.pro-name{
	flex: 1;
	display: flex;
	padding: 5px;
	flex-direction: column;
  	justify-content: space-between;
}
.pro-name>span{
	font-size: 2rem;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
	line-height: 20px;
}
.pro-name p{
	font-size: 1.7rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.pro-name img{
	width: 56%;
}
.clibm{
	width: 32px;
    height: 32px;
    font-size: 2rem;
    line-height: 16px;
    padding: 5px;
    color: #FFFFFF;
    background: #FFC000;
    border-radius: 10px;
    text-align: center;
}
/*教学环境*/
.demo-content{
	border-top: 1px solid #D0D0D0;
}
.sliimg{
	width: 48%;
	padding: 0.7rem 0;
	border-left: 1px solid #d0d0d0;
	margin-left: -1px;
}
.sliimg img{
	width: 90%;
	padding: 0 5%;
}
/*在线报名*/
.zxbm{
	display: flex;
	flex-direction:column;
}
.bmxm{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	position: relative;
}
.bmxm span{
	font-size: 1.8rem;
}
.bmxm input[type='text']{
	flex: 1;
	font-size: 2.4rem;
	padding: 1rem 0 1rem .9rem;
	color: #808080;
	border:1px solid #D0D0D0;
	box-sizing: border-box;
	border-radius: 5px;
}
.bmxm select{
	position: absolute;
    width: 73%;
    height: 93%;
    left: 4rem;
    top: 1px;
    font-size: 2.4rem;
    /* padding: 1.39rem 0 1.39rem .9rem; */
    color: #808080;
    border: none;
    /* box-sizing: border-box; */
    border-radius: 5px;
    background: #ffffff;
}
.zxbm>input[type="submit"]{
	width: 100%;
	padding: 1.2rem 0;
	text-align: center;
	font-size: 2.1rem;
	color: #FFFFFF;
	background: #FFC000;
	border-radius: 5px;
}

/*页脚*/
footer{
	padding: .8rem 0 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #D0D0D0;
}
.for-link{
	color: #FFC000;
	margin-bottom: 1rem;
}
.for-link a{
	color: #ffa800;
	font-size:2.2rem ;
	padding: 0 1rem;
}
.copyright span{
	font-size: 2.2rem;
	color: #515151;
}
/*fixed*/
.bottom-nav{
	position: fixed;
	z-index: 88;
	width: 100%;
    bottom: 0;
    padding: 0 5%;
    box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFC000;
}
.bn-link a{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bn-link span{
	color: #FFFFFF;
	font-size: 2rem;
}
.bn-link-home{
	position: relative;
	width: 21.7%;
	margin-top: -5%;
}
.bn-link-home img {
	width: 100%;
	
}
.bn-linkimg,.bn-linkimg2{
	width: 32px;
	height: 32px;
}
.bn-linkimg img{
	height: 100%;
}
.p-home{
	
	
}
.p-home a{
	position: absolute;
	top: -5px;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
}
.p-home span{
	color: #000000;
	font-size: 2rem;
}
/*返回顶部*/
#toTop{
	position: fixed;
	z-index: 99;
    bottom: 60px;
    right: 5%;
    padding: 1.2rem .8rem;
	display: none;
	flex-direction: column;
	background: #000000;
	opacity: .7;
	border-radius: 45px;
	align-items: center;
}
#toTop .totimg{
	width: 80%;
}
.totimg img{
	width: 100%;
}
#toTop span{
	color: #FFFFFF;
	font-size: 2rem;
}
/*关于威辰*/
.content-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	padding: 1% 1%;
	border-bottom: 1px solid #d3d3d3;
}
.last-arr{
	font-size: 6rem;
    line-height: 2rem;
	font-weight: 600;
}
.title-text{
	font-size: 4rem;
}
.cont-nav{
	display: flex;
	height: 2.8rem;
	flex-direction: column;
	justify-content: space-around;
}
.cont-nav p{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cont-nav p i{
	width: 3px;
    height: 3px;
    background: #FFC000;
    border-radius: 50%;
    margin-right: .1rem;
}
.cont-nav p span{
	width: 25px;
    height: 3px;
    border-radius: 25%;
    background: #FFC000;
}
.gywc-nav{
	padding: 1rem 1%;
	border-bottom: 1px solid #d3d3d3;
}
.gywc-nav ul{
	display: flex;
	justify-content: space-around;	
}
.gywc-nav ul li{
	padding: .3rem 1rem;
	border: 1px solid #d3d3d3;
	color:#808080;
	font-size: 2.4rem;
	border-radius: 15px;
}
.gywc-article{
	padding: 0 2%;
}
.gywc-article>p{
	color: #808080;
	font-size: 2.4rem;
	line-height: 2rem;
	margin-bottom: .8rem;
}
.sywc-showimg ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.sywc-showimg li{
	width: 48%;
	margin-bottom: 1rem;
}
.sywc-showimg li img{
	width: 100%;
}
.dizhi p:first-child{
	font-size: 3.3rem;
	color: #F75553;
	font-weight: 700;
}
.dizhi p{
	font-size: 2.2rem;
	line-height: 2.4rem;
	color: #808080;
}
/*客户问答*/
.qa-item{
	display: flex;
	flex-direction: column;
	padding: .5rem 2%;
	border-bottom: 1px dashed #d3d3d3;
}
.the-question,.the-answer{
	display: flex;
	padding: .5rem 0 .5rem 0;
}
.q-img,.a-img{
	padding-right:1rem;
}
.q-spe,.a-spe{
	flex: 1;
	padding-top: .8rem;
	display: flex;
	flex-direction: column;
}
.a-spe{
	padding-bottom: .8rem;
}
.q-colum{
	display: flex;
	justify-content: space-between;
	padding-bottom: .2rem;
	font-size: 2rem;
}
.q-spe p {
	font-size: 2.4rem;
}
.a-spe p,.q-colum p{
	font-size: 18px ;
}
.a-time{
	font-size: 2rem;
	padding-bottom: .2rem;
}
.fye{
	padding: 1rem 0 2rem 0;
	display: flex;
	justify-content: center;
}
.fye ul{
	display: flex;
}
.fye ul li{
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align:center;
	border-top: 1px solid #a3a3a3;
	border-left: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	color: #808080;
}
.fye ul li:last-child{
	border-right: 1px solid #a3a3a3;
}
.fye ul .pg-on{
	background: #a3a3a3;
	color: #fff;
}
.bmxm textarea{
	flex: 1;
    font-size: 2.4rem;
    min-height: 8.4rem;
    padding: .5rem 0.9rem .5rem .9rem;
    color: #808080;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
}
/*联系我们*/
.address{
	padding: .8rem 0;
	display: flex;
	border-bottom: 1px dashed #d3d3d3;
}
.add-spe{
	flex: 1;
}
.add-spe p{
	font-size: 2.4rem;
	color: #515151;
}
.add-spe strong{
	font-size: 2.4rem;
}
.add-name{
	font-size: 2.4rem;
}
.lxwmimg img,.add-spe img{
	width: 100%;
}
/*培训项目*/
.w98{
	width: 96%;
	padding:0 2%;
}
.nfp-con .proli li{
    color: #515151;
    border: 1px solid #d3d3d3;
}
.nfp-con .proli .nc-on{
	color: #FFFFFF;
    background: #FFC000;
    border-color: #FFC000;
}
.advan-img img{
	width: 100%;
}
.advan-img,.advan-con{
	width: 100%;
}
.advan-con{
	padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
.advans{
	width: 45%;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}
.advans h5{
	font-size: 2.4rem;
	margin: .2rem 0;
	color: #FFFFFF;
}
.intro-advan{
	flex: 1;
	width: 96%;
    height: 16.5rem;
	padding: .5rem;
	margin-bottom: 2%;
	border-radius: 8px;
	box-sizing: border-box;
	background: #fff;
	font-size: 2rem;
}
.intro-advan p{
	color: #515151;
}
/*优惠活动*/
.yhhd{
	display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.yhhd span {
	width: 3.5rem;
    font-size:2rem;
    text-align: end;
}
.yhhd input[type='text'] {
    flex: 1;
    font-size: 2.2rem;
    padding: 1rem 0 1rem .9rem;
    color: #808080;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.getcode{
	text-align: center;
	color: #FFFFFF;
	background:#818181;
    font-size: 2.2rem;
    padding: 1rem 0.8rem 1rem .8rem;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fczs{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.fczs-img{
	flex: 0 0 50%;
	padding:2.5%;
	border-top: 1px solid #d3d3d3;
	box-sizing: border-box;
}
.fczs-img:nth-child(2n){
	border-left: 1px solid #d3d3d3;
}
.fczs-img img{
	width: 100%
}
.load-more{
	padding: 1rem 0;
	background: #D3D3D3;
	border: 1px solid #818181;
	display: flex;
	align-items: center;
	justify-content: center;
} 
.load-more img{
	display: none;
	width: 16px;
}
.load-more span{
	font-size: 2.4rem;
	color: #515151;
}
/*培训*/
.peixun{
	display: flex;
	flex-direction: column;
}
.c-peixun{
	padding: 0 2%;
}
.peixun h3{
	font-size: 3.5rem;
}
.peixun p{
	margin: .5rem 0;
	font-size: 2rem;
}
.peixun ul{
	display: flex;
	margin-bottom: .5rem;
	align-items: center;
}
.peixun ul li{
	font-size: 2rem;
	margin-right: 1rem;
	color: #FFC000;
}
.peixun ul li span{
	color: #515151;
}
.bdfx{
	display: flex;
	font-size: 2rem;
	align-items: center;
	padding: 0 2%;
	border-top: 1px solid #d3d3d3;
}
.bdfx>img{
	width: 8.2%;
    margin-right: 1.2rem;
}
.px-spe ul{
	display: flex;
	flex-direction: column;
}
.px-spe ul li{
	display: flex;
	border-top: 1px solid #d3d3d3;
	align-items: center;
}
.px-title{
	padding: 1rem;
	font-size: 2.8rem;
}
.px-conspe{
	flex: 1;
	padding: .5rem;
	border-left: 1px solid #d3d3d3;
}
.px-conspe p{
	font-size: 2.4rem;
}
.px-conspe span{
	color: #FF9C00;
}
.px-conspe img{
	width: 8.2%;
    margin-right: 1.2rem;
}
.px-conspe a{
	text-decoration: underline;
}
.pde-con{
	padding:3%;
}
.pde-con p{
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.pde-con img{
	width: 100%;
}
.pro-detwo{
	padding:3%;
	border-bottom: 1px dashed #d3d3d3;
}
.pro-detwo .pdtle{
	font-size: 3rem;
	margin-bottom: 1rem;
}
.pro-detwo p{
	font-size: 2.4rem;
	color: #515151;
}
.pro-detwo img{
	width: 100%;
}
.all-intro{
	border-top: 1px solid #d3d3d3;
	padding: 0 2%;
}
.all-intro p{
	margin-top: 1rem;
	font-size: 2.4rem;
	color: #515151;
	text-indent: 2rem;
	line-height: 2rem;
}
.les-anpai{
	padding: 3%;
	border-top: 1px solid #d3d3d3;
}
.les-anpai p{
	font-size: 2.4rem;
}
.les-anpai p span{
	font-weight: 700;
	color: #000;
}
