html{
	font-family:\5FAE\8F6F\96C5\9ED1;
}
html, body, div, span, applet, object,button,input, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
.clearfix{overflow:hidden;_zoom:1;}
.c1{
	color: #FF9C00;/*橙*/
}
.c2{
	color: #02b2c9;/*蓝*/
}
.c3{
	color: #f75553;/*有点红粉*/
}
.c4{
	color: #74c65a;/*绿*/
}
.c5{
	color: #8e93cd;/*小紫*/
}
.c6{
	color: #FFC000;
}
.c7{
	color: #808080;
}
.c8{
	color: #515151;
}
.b1{
	background: #4CB4FB;/*蓝*/
}
.b2{
	background:#CBC650;/*屎绿*/
}
.b3{
	background:#74C65A;/*绿*/
}
.b4{
	background:#f75553;/*hong*/
}
.b5{
	background:#FF9C00;/*橙*/
}
.b6{
	background:#38DED2;/*蓝绿*/
} 
.b7{
	background:#2DB634;/*更绿一点*/
}
.b8{
	background:#8E93CD;/*略紫*/
}